<div class="container">
    <div>
        Current date {{currentDate}}
    </div>
    <div class="title">
        We will show which city has the most convenient weather in terms of temperature and humidity
    </div>
    <div>
        Display for
        <select name="sex" [(ngModel)]="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <button (click)="getBestPlace()">Show</button>
    </div>
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="bestPlace && bestTemperatureRegions">
        <div class="title">
            The best place is {{bestPlace.name}}! The temperature is {{bestPlace.main.temp}},
            the humidity is {{bestPlace.main.humidity}}
        </div>
        <div>
            <div>Following leading ones:</div>
            <div *ngFor="let region of bestTemperatureRegions">
                {{region.name}} - the temperature is {{region.main.temp}}, the humidity is {{region.main.humidity}}
            </div>
        </div>
    </div>
</div>

