<div class="bg-holder">
    <section class="container">
    <span class="date">
        Current date <strong> {{currentDate}}</strong>
    </span>
        <h1 class="title">
            We will show which city has the most convenient weather in terms of temperature and humidity
        </h1>
        <div class="select-holder">
            <span>Display for:</span>
            <div class="select-control">
                <select name="sex" [(ngModel)]="sex">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <button (click)="getBestPlace()">Show</button>
            </div>
        </div>
        <div *ngIf="isLoading">Loading...</div>
        <div *ngIf="bestPlace && bestTemperatureRegions">
            <h2 class="title-2">
                The best place is {{bestPlace.name}}! The temperature is {{bestPlace.main.temp}},
                the humidity is {{bestPlace.main.humidity}}
            </h2>
            <ul>
                <h3 class="title-3">Following leading ones:</h3>
                <li *ngFor="let region of bestTemperatureRegions">
                    {{region.name}} - the temperature is {{region.main.temp}}, the humidity is {{region.main.humidity}}
                </li>
            </ul>
        </div>
    </section>
</div>
